{% extends 'backend/table.html.twig' %}

{% set no_new_button = true %}

{% block thead %}
    <tr>
        <th>Nombre</th>
        <th>Valor</th>
        <th>Accion</th>
    </tr>
{% endblock %}
{% block tfoot %}
    <tr>
        <th>Nombre</th>
        <th>Valor</th>
        <th>Accion</th>
    </tr>
{% endblock %}
{% block tbody %}
    {% for general in generals %}
        <tr>
            <td>{{ general.name }}</td>
            <td>{{ general.value }}</td>
            <td>
                <a href="{{ path('general_show', { 'id': general.id }) }}"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>
                <a href="{{ path('general_edit', { 'id': general.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block section %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      General
      <small>Listado</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('admin') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">General</li>
    </ol>
  </section>
  {{parent()}}
</div>     
{% endblock %}
