{% extends 'backend/base.html.twig' %}

{% block section %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      General
      <small>Detallado</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('admin') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">General</li>
    </ol>
  </section>
    <div class="content">
    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ general.name }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ general.value }}</td>
            </tr>            
        </tbody>
    </table>
    </div>
    <div class="box-footer">
        <a class="btn btn-default" href="{{ path('general_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
        <a class="btn btn-primary" href="{{ path('general_edit', { 'id': general.id }) }}"><span class="glyphicon glyphicon-edit"></span> Editar</a>
    </div>
</div>     
{% endblock %}
