{% extends 'backend/base.html.twig' %}

{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/backend/user.css">
{% endblock %}

{% block section %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Usuario
      <small>Nuevo</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('admin') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Usuario</li>
    </ol>
  </section>
  <div class="content">
    {{ form_start(form) }}
        <div class="form-group{% if form.name.vars.errors|length > 0 %} has-error{% endif %}">
          {{ form_label(form.name) }}
          {{ form_widget(form.name) }}
          <div class="help-block with-errors">
              {{ form_errors(form.name) }}
          </div>
        </div>
        <div class="form-group{% if form.lastname.vars.errors|length > 0 %} has-error{% endif %}">
          {{ form_label(form.lastname) }}
          {{ form_widget(form.lastname)}}
          <div class="help-block with-errors">
              {{ form_errors(form.lastname) }}
          </div>
        </div>       
        <div class="form-group{% if form.email.vars.errors|length > 0 %} has-error{% endif %}">
          {{ form_label(form.email) }}
          {{ form_widget(form.email)}}
          <div class="help-block with-errors">
              {{ form_errors(form.email) }}
          </div>
        </div>
        {% if error is defined %}
            {{ error }}
        {% endif %}
        <div id="openMoreDetails"><b>Mas detalles</b></div>
        <div id="moreDetails" class="moreDetails hidden">     
          <div class="form-group{% if form.plainPassword.vars.errors|length > 0 %} has-error{% endif %}">
            {{ form_label(form.plainPassword) }}
            {{ form_widget(form.plainPassword)}}
            <div class="help-block with-errors">
                {{ form_errors(form.plainPassword) }}
            </div>
          </div>           
          {{ form_widget(form) }}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        <a class="btn btn-default" href="{{ path('user_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
                        <button type="submit" class="btn btn-success pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                    </div>
                </div>
            </div>
        </div>

      {{ form_end(form) }}
    </div>
</div>     
{% endblock %}


{% block javascripts %}
  {{parent()}}
  <script src="{{ app.request.basepath }}/js/backend/user.js"></script>
{% endblock %}