{% extends 'backend/base.html.twig' %}

{% block section %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Familia
      <small>Detallado</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{ path('admin') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Familia</li>
    </ol>
  </section>
    <div class="content">
    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ family.name }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="box-footer">
        <a class="btn btn-default" href="{{ path('family_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
        <a class="btn btn-primary" href="{{ path('family_edit', { 'id': family.id }) }}"><span class="glyphicon glyphicon-edit"></span> Editar</a>
        {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
        {{ form_end(delete_form) }}
    </div>
</div>     
{% endblock %}
